.title {
  text-align: center;
}

.skeletonWrapper {
  padding: 8px 0;
}

.dishInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .ingredient {
    padding: 8px;
    border-bottom: 1px solid #cfcfcf;
    height: 30px;
    line-height: 30px;
  }

  .price {
    display: flex;
    justify-content: space-between;

    .counter {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
}
