.root {
  padding: 8px 0;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .counter {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 30px;

    .price {
      min-width: 30px;
    }
  }
}
