.root {
  border-radius: 4px;
  padding: 8px 16px;
  align-items: center;
  border: none;
  background-color: #ececec;
  color: #000000;

  &:hover {
    cursor: pointer;
    background-color: #cfcfcf;
  }

  &.active {
    background-color: #cfcfcf;
  }

  &.rounded {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 8px;
  }

  &.dark {
    background-color: #3b3b3b;
    color: #ffffff;

    &:hover,
    &.active {
      background-color: #1d1d1d;
    }
  }
}
