.root {
  display: flex;
  gap: 4px;
  align-items: center;

  .button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: #ececec;
      cursor: pointer;
    }
  }
}
