.root {
  padding: 8px 16px;
  border-radius: 8px 8px 0 0;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: #ececec;
    cursor: pointer;
  }

  &.active {
    background-color: #ececec;
    font-weight: 600;
  }

  &:hover {
    background-color: #ececec;
    cursor: pointer;
  }
}
