.link {
  display: block;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ececec;
  color: #000000;

  &:hover {
    cursor: pointer;
    background-color: #cfcfcf;
  }

  &.active {
    background-color: #cfcfcf;
    pointer-events: none;
    font-weight: 600;
  }
}
